# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Training and modal files
*.keras

*.bin
*.tar
*.zip
*.tar.gz
*.jpg

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data
*.Data/
*.Data/prepared_data/

